$black: #000000;
$bg-light-grey: #F7F8F9;
$border-grey-color: #E7E7ED;
$clr-green: #01704F;
$dark-orange: #B95000;
$light-grey: #d3d3d3;
$light-orange: #FFF4EC;
$link-color-hover: #003078;
$orange: #FF8F39;
$outline-grey: #E9E9EB;
$text-blue: #1BA1D4;
$text-grey: #393939;
$text-light-grey: #6E6F81;
$white: #FFFFFF;

.portlet-header {
	margin-bottom: 0px !important;
}

.customer-contact-management.search {

	.back-url {
		color: $text-grey;
		font-size: 1.25rem;
		margin-bottom: 1rem;
		text-decoration: none;
		i {
			color: $text-light-grey;
			font-size: 1.5rem;
			margin-right: 0.75rem;
		}
	}

	.button-holder {
		margin-top: 0;
		display: flex;

		.btn:not(:last-child) {
			margin-right: 1.5rem;
		}

		.dp-icon-add {
			font-size: 1.5rem;
			margin-right: 0.2rem;
		}
		.btn.btn-primary{
			padding: .638rem 1.125rem;
		}
	}

	.ccmservice-view {
		.taxonomy {
			.text-default {
			    font-size: 16px;
			    color: $text-light-grey;
			}
		}
		.ccmservice-view-alert-panel {
			.panel-heading {
				margin: 0;
				.panel-title {
					border: none;
					text-transform: none;
					font-weight: normal;
					font-size: 1rem;
					.lead {
						font-size: 1rem;
					}
					.collapse-icon {
						text-decoration: none;
						padding: 0;
					}
				}
			}
			.panel-body {
				margin-top: 0.25rem;
				background: none;
				border: 1px solid $orange;
				border-radius: 4px;
				padding: 1rem 1rem 0;
				.alert-full-title {
					font-weight: bold;
					color: $dark-orange;
				}
			}
		}
		
		.lfr-ddm__default-page-container {
			background-color: #fff;
			border: thin solid #e7e7ed;
			border-radius: 4px;
			padding: 2rem 1.5rem 1.5rem;
		}

		.ccmservice-ticket-notes-panel {
			&.glyphicon-info-sign:before {
			    padding-right: 1.25rem;
			    float: left;
			    padding-top: 0.75rem;
			    padding-left: 1.25rem;
			}
		}
	}

	.search-total-label {
		color: $text-light-grey;
		font-weight: bold;
	}

	.navbar-container {
		&.enquiry-tabs-container {
			.navbar {
				ul {
					margin: 1.5rem 0 0.5rem
				}
			}
		}
	}
	
	.search-results {

		.service-title a, .service-summary {
			color: $text-grey;
		}

		.service-taxonomy {
			color: $text-light-grey;
		}
	}

	.user-view {
		.nav-tabs {
			&.user-inactive {
				border-bottom: 1px solid $text-light-grey;
			}			
			.nav-item {
				.nav-link {
					border-radius: 1.25rem 1.25rem 0 0;
					background-color: $bg-light-grey;
					padding: 1rem 1.25rem;
					border-bottom: 1px solid $text-light-grey;
					height: 100%;
					&.active {
						border-width: 1px 1px 0 1px;
						border-color: $text-light-grey;
						border-bottom: none;
						background-color: transparent;
						
						&:after {
							content: " ";
							position: absolute;
							top: 95%;
							height: 0;
							width: 95%;
							border: 2px solid $text-grey;
							left: 2.50%;
						}
					}
					&:focus {
						box-shadow:none;
					}	
					span {
						.tab-name {
							margin: 0;
							font-size: 1rem;
							font-weight: 400;
							line-height: 1.25rem;
						}
						h5 {
							color: $text-grey;
							font-size: 1.25rem;
							line-height: 1.5rem;
						}
					}				
					
					&.user-inactive {
						background-color: $bg-light-grey !important;
					}
				}
			}
		}
		
		.tab-subtitle {
			font-size: 1.25rem;
			font-weight: bold;
		}

		.discussion {
			background: $white;
			border: 1px solid $outline-grey;
			border-radius: 5px;
			padding: 2px;
			.discussion-accordion.panel-default {
				border-color: transparent;

				.panel-heading {
					background-color: $white;
					border-bottom: 1px solid $border-grey-color;
					text-transform: uppercase;
					.panel-title.h4{
						a{
							font-weight: 600;
						}
						a:hover {
							color: $link-color-hover !important;
							text-decoration: none !important;
						}
					}
				}

				.panel-body {
					background-color: $white;
					.taglib-discussion{
						.sticker {
							height: 2.5rem;
							width: 2.5rem;
							border-radius: 50%;
							color: $text-light-grey;
							font-size: 1.875rem;
							background: $bg-light-grey;
						}
						.alloy-editor-container {
							margin-bottom: 1rem;
						}
					}
				}
			}

			/* Hides subscribe button */
			.btn.btn-outline-primary.btn-sm {
				visibility: hidden;
			}

		}

		.tab-name {
			margin-top: 1rem;
		}
	}

	.portlet-title-text, .portlet-icon-back {
		display: none;
	}

	&.search {
		.nav-tabs {
			.nav-item {
				.nav-link {
					align-items: center;
					.customer-tab i, .enquiry-tab i {
						font-size: 2.25rem;
					}
				}
			}
		}
	}
	
	.search-bar {
		.panel-body {
			padding-left: 0;
		}
	}
}

.search-modal-content {
	padding-left:20px;
	padding-right:20px;
}
.search-modal.cadmin{
	.search-modal-content .modal-body {
		padding-left: 1.8rem !important;
		padding-right: 1.8rem !important;
		.dialog-iframe-node {
			width: 100% !important;
		}
	}
}

.search-dialog-iframe-popup {
	.row {
		margin: 0px;
		padding-top: 10px;
	}
	
	.dialog-footer {
		position: inherit !important;
		border: none !important;
		display: inherit !important;
		width: inherit !important;
		padding: 0 !important;
		margin-top: 2em !important;
		margin-bottom: 1em !important;
		
		.btn {
			margin: 0 !important;
		}
	}
}


// USER ADDRESSES
.customer-contact-management.search .user-addresses-section {
	text-transform: capitalize;
	.collapse-icon:hover {
		color: $link-color-hover !important;
		text-decoration: none !important;
	}
	.panel-body {
		padding: 0;
	}

	.user-addresses-more {
		.additional-addresses-header {
			border-bottom: 1px solid $outline-grey;
			color: $text-light-grey;
		}
		.address-line {
			padding: 1rem 0;
			margin: 0;
			border-bottom: 1px solid $outline-grey;
			color: $text-light-grey;
		}
	}

	.address-block {
		flex: 1;
		.address-block-title-wrapper {
			outline: none;
			margin-bottom: 1rem;
			.address-block-title {
				vertical-align: middle;
				margin-right: 0.5rem;
				position: relative;
				text-transform: uppercase;
				line-height: 2.5rem;
				&:after {
					content: ' ';
					border-bottom: 4px solid $text-blue;
					position: absolute;
					left: 0;
					bottom: -1rem;
					width: 100%;
				}
				.taglib-text {
					border-bottom: 4px solid $text-blue;
				}

				&.collapsed {
					.taglib-text {
						border-bottom: none;
					}
				}
			}

			.address-block-title-icon {
				color: $text-light-grey;
				font-size: 0.75rem;
				display: inline-block;
				transform: rotate(90deg);
				transition: transform 0.2s ease-in-out;
			}

			&.collapsed {
				.address-block-title:after {
					content: none;
				}
				.address-block-title-icon {
					transform: none;
				}
			}
		}
	}
	.additional-addresses-header {
		width: 100%;
		font-weight: 600;
	}
	
	.address-line {
		padding: 1rem 1.25rem;
		border-bottom: 1px solid $outline-grey;
		&:last-child {
			border: none;
		}
	}
}

.portlet-configuration.customer-contact-management.search .configuration-display-fields {
	height: 600px !important;	
}


// CASE DETAILS MODAL
// EMAIL DETAILS MODAL
.case-details-content, .email-details-content {
	border: 1px solid $outline-grey;
	padding: 3rem;
	display: flex;
	flex-wrap: wrap;
	.single-case-info, .email-info {
		width: 50%;
		display: flex;
		margin-bottom: 2rem;
		.info-label {
			font-weight: bold;
			flex: 1;
			padding-right: 1rem;
		}
		.info-value {
			flex: 1;
		}
	}
	.comments{
	    .list-entry{
	        .entry-title{
                font-weight: bold;
	        }
	    }
	}
}

// EMAIL DETAILS MODAL
.email-details-content {
	flex-direction: column;
	.email-info {
		width: 70%;
		.info-label {
			flex: initial;
		}
	}
}

.follow-up{
	.panel {
		margin: 0;
		border: 1px solid $border-grey-color;
		.panel-header {
				padding-left: 0rem;
				border-bottom: 1px solid #a7a9bc;
				.panel-title {
					font-size: 0.875rem;
					.collapse-icon {
							padding: 0.75rem 1.25rem 1.3125rem 0;
							padding-left: 0;
					}																
										
					.follow-up-history-label{
							font-size: 1.25rem;
							font-weight:bold;
					}
				 }
				&:focus{
					box-shadow: none;
				}
				&:hover {
					color: $link-color-hover;
				}
		}
		&:first-child .panel-title {
			border-top: 0px solid $border-grey-color;
		}
		.panel-collapse {
			border-bottom: 1px solid $border-grey-color;
		}
		.panel-body {
			padding: 1.375rem 1.5rem;
			border: none;
			background:  $outline-grey;
		}

		.collapse-icon-open, .collapse-icon-closed {
			&:before {
				font-family: 'digitalplace';
				line-height: 1rem;
				color: $text-light-grey;
				text-transform: initial;
			}
			.lexicon-icon {
				display: none;
			}
		}
		.collapse-icon-closed:before {
			content:'\0062';
		}

		.collapse-icon-open:before {
			content:'\0041';
		}
	}
	
	.follow-up-addresses-section{
		display: block;
		position:relative;
		
		.form-validator-stack{
			position: absolute;
			border: 0px;
			top: -30px;
			left: 190px;
		}
		label{
			display: block;
		}
	}
}
.search-modal-content{
	border-radius: 4px;
	box-shadow: none;
	.modal-header{
		padding: 0;
	}
}

.relationship-modal-view-content {
	border-radius: 4px;
	box-shadow: none;
	.modal-header{
		padding: 0;
	}
	padding-left:20px;
	padding-right:20px;
}

.relationship-dialog-iframe-popup {
	.row {
		margin: 0px;
		padding-top: 10px;
	}
}
.cust-modal {
	.modal-body {
		overflow: hidden;
	}
	.modal-footer{
		display: inline-block;
		.btn-toolbar {
			justify-content: space-between;
		}
	}
}
