.add-daily-service-alert-iframe-popup, .edit-daily-service-alert-iframe-popup{
	
	.portlet-journal .edit-article-form{
		
		.component-tbar{
			top: 0px;
			left: 0px !important;
			width: 100% !important;
			button[name$="saveButton"]{
				display: none;
			}
		}
		
		.contextual-sidebar{
		
			fieldset[id='basicInformation'], 
			fieldset[id='defaultTemplate'], 
			fieldset[id='displayPage'],
			fieldset[id='featuredImage'],
			fieldset[id='metadata'] .input-text-wrapper,
			div[id$='assetTagsSelector'], 
			fieldset[id='friendlyUrl'], 
			fieldset[id='search'], 
			fieldset[id='relatedAssets'],
			fieldset[id='permissions'],
			li[data-tab-name='usages'],
			.review-date {
				display: none;
			}
		}
	} 
}
