.add-team-notification-iframe-popup, .edit-team-notification-iframe-popup{
	
	.portlet-journal .edit-article-form{
		
		.component-tbar{
			top: 0px;
			left: 0px !important;
			width: 100% !important;
			
			button[name$="saveButton"]{
				display: none;
			}
		}
		
		.contextual-sidebar{
			fieldset[id='basicInformation'], 
			fieldset[id='defaultTemplate'], 
			fieldset[id='displayPage'], 
			fieldset[id='featuredImage'], 
			fieldset[id='categorization'],
			fieldset[id='metadata'],
			fieldset[id='friendlyUrl'], 
			fieldset[id='search'], 
			fieldset[id='relatedAssets'],
			fieldset[id='permissions'],
			ul li[data-tab-name="usages"],
			.review-date {
				display: none;
			}
		}
	} 
}
