$text-blue: #1BA1D4;
$text-grey: #393939;
$bg-light-grey: #F7F8F9;

.incoming-emails.portlet-decorate .portlet-content {
	padding-bottom: 0;
}

.incoming-emails .table > thead > tr.info > th, .table > thead > tr.info > td, .table > thead > tr th.info, .table > thead > tr td.info, .table > tbody > tr.info > th, .table > tbody > tr.info > td, .table > tbody > tr th.info, .table > tbody > tr td.info, .table > tfoot > tr.info > th, .table > tfoot > tr.info > td, .table > tfoot > tr th.info, .table > tfoot > tr td.info {
		background-color: initial;
}
