$black-color: #2a2828;
$black: #000000;
$text-blue: #1BA1D4;
$link-color: #1D70B8;
$link-color-hover: #003078;
$border-grey: #C4C4C4;
$text-field-color: #9FA0AD;
$text-grey: #393939;
$bg-light-grey: #F7F8F9;
$bg-lightest-grey: #F1F2F6;
$text-light-grey: #6E6F81;

.signed-in .contextual-help {
	bottom: 0;
	position: fixed;
	right: 0;
	height: 85%;
	z-index: 100;
	transition: 0.8s;
	.portlet {
		height: 100%;
		.portlet-content {
			border-radius: 1.25rem 0px 0px 1.25rem;
			padding: 2.6875rem 0 1.125rem;
			height: 100%;
			background: #ffffff;
			border-color: #6E6F81;
			border-style: solid;
			border-right: none;
			border-width: 1px;
			.portlet-content-container, .portlet-body {
				height: 100%;
			}
			.portlet-title-text {
				display: none;
			}
			.help-content-container {
				display: flex;
				height: 100%;
				[class^="dp-icon-"] {
					cursor: pointer;
				}
				.left-col {
					padding: 0 1rem 0 1.125rem;
					max-width: 4.25rem; // icon width + padding
					.icons {
						display: flex;
						flex-direction: column;
						align-items: center;

						.dp-icon-double-chevron {
							color: $border-grey;
						}
						.dp-icon-information {
							font-size: 2rem;
							line-height: 1.5rem;
							color: $link-color;
						}
					}
				}
				.right-col {
					width: 48rem;
					height: 100%;
					display: flex;
					flex-direction: column;
					.dp-icon-close {
						color: $text-light-grey;
					}
					.help-header {
						h1 {
							line-height: 0.8;
						}
					}
					.help-body {
						flex: 1;
						display: flex;
						flex-direction: column;
						overflow: hidden;
						.search-bar {
							.search-bar-simple {
								.form-control {
									border: 1px solid $text-field-color;
									border-radius: 4px 0 0 4px;
									border-right: 0;
									background: $bg-lightest-grey;
									color: $text-grey;
								}
								.input-group-inset-item-after {
									border: 1px solid $text-field-color;
									border-radius: 0px 4px 4px 0;
									border-left: 0;
								}
							}
						}
						.search-results {
							flex: 1;
							overflow: auto;
							overflow-y: overlay;
							h5 {
								margin-bottom: 0.5rem;
							}

							.panel {
								margin: 0;
								padding-right: 10px;
								.panel-header {
									padding-left: 0rem;
									border-bottom: 1px solid #a7a9bc;
									.panel-title {
										font-size: 0.875rem;
										.collapse-icon {
											padding: 0.75rem 1.25rem 1.3125rem 0;
											padding-left: 0;
										}
									}
									&:focus{
										box-shadow: none;
									}
								}
								&:first-child .panel-title {
									border-top: 0px solid $border-grey;
									border-bottom: 0px;
								}
								.panel-collapse {
									border-bottom: 1px solid $border-grey;
								}
								.panel-body {
									padding: 1.375rem 1.5rem;
									border: none;
								}
								.collapse-icon:hover {
									color: $link-color-hover !important;
									text-decoration: none !important;
								}
								.collapse-icon-open, .collapse-icon-closed {
									&:before {
										font-family: 'digitalplace';
										line-height: 1rem;
										color: $text-light-grey;
										text-transform: initial;
									}
									.lexicon-icon {
										display: none;
									}
								}
								.collapse-icon-closed:before {
									content:'\0062';
								}

								.collapse-icon-open:before {
									content:'\0041';
								}
							}
						}
					}
				}
			}
		}
	}
	#overlay {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: -1;
		cursor: pointer;
	}
}