#amazon_connect_wrapper {
	display: none;
	z-index: 2147483647;
	left: 0px;
	border: 0px none;
	height: 732px;
	position: fixed;
	width: 500px;
	overflow: hidden;
	bottom: -692px;

	.amazon-connect-topper {
		padding: 5px;
		background-color: #30313f;
		color: #ffffff;
		width: 100%;
		height: 40px;
		font-size: 1.25rem;
		font-family: "Source Sans Pro";

		.amazon-connect-icons {
			float: right;
			color: #cdced9;
			[class^="dp-icon-"] {
				cursor: pointer;
			}
		}
	}

	.amazon-connect-content {
		background-color: #ffffff;
	}
}
