[#if themeDisplay.isSignedIn()]
	[#attempt]
		[#if configuration.serviceId != 0 && configuration.groupId != 0]
			[#assign selfServiceFormURL = digitalplace_ccmServiceFormURLService.getSelfServiceExternalFormURL(configuration.groupId, themeDisplay.getUserId(), configuration.serviceId)]

			<div class="self-service-link">
				<div class="self-service-link__details">
					<h2 class="self-service-link__title">${configuration.title}</h2>
					<p class="self-service-link__summary">${configuration.summary}</p>
				</div>
				<div class="self-service-link__actions">
					<a aria-label="${configuration.label}" class="btn btn-primary" href="${selfServiceFormURL}" target="_blank">${configuration.label}</a>
				</div>
			</div>
		[/#if]
	[#recover]
		<div class="alert alert-warning">
			Set a valid Service ID or Site ID. The Service must exist in the site
		</div>
	[/#attempt]
[#else]
	<div class="alert alert-warning">
		[@liferay.language key="please-sign-in-to-continue" /]
	</div>
[/#if]