$border-grey-color: #E7E7ED;

.daily-service-alert-container{

	.daily-service-alert-listing{
		padding: 1rem 0;
		
		.daily-service-alert{
			cursor: pointer;
			
			.body, .create-date, .title{
				display: none;
			}
		}
	}
	
}

.display-daily-service-alert{
	margin: 1rem 2rem;
	.daily-service-alert-icon, span.status, .dp-icon-angle-right,.short-title{
		display: none;
	}
	.title {
		font-size: 1.2rem;
		font-weight: 500;
	}
} 

.daily-service-alert-modal-content,
.add-daily-service-alert-modal-content{
	border-radius: 4px;
	box-shadow: none;
}