.latest-service-requests.portlet-decorate .portlet-content {
	padding-bottom: 0;
}

.portlet-configuration.customer-contact-management.latest-service-requests .configuration-display-fields {
	height: 600px !important;	
}