<aui:button-row>
	<c:if test="${ isCCMServiceActive && isCSAUser && !isImpersonated && userSearchResult.isActive() }">
		<aui:a id="enquirySolvedButton" href="javascript:;" cssClass="btn btn-secondary" label="enquiry-solved"></aui:a>

		<c:set var="ADD_QUICK_ENQUIRY" value="<%=SearchMVCCommandKeys.ADD_QUICK_ENQUIRY %>"/>
		<c:set var="PPID" value="<%=SearchPortletKeys.SEARCH %>"/>
		
		<aui:script use="aui-base, liferay-portlet-url, com-placecube-digitalplace-customercontactmanagement-util">
		
			$('#<portlet:namespace/>enquirySolvedButton').on('click', function(){
		
				var resourceURL = Liferay.PortletURL.createResourceURL();
				resourceURL.setPortletId('${PPID}');
				resourceURL.setResourceId('${ADD_QUICK_ENQUIRY}');
				resourceURL.setParameter('userId', '${userSearchResult.userId}');
				resourceURL.setParameter('serviceId', '${ccmServiceSearchResult.serviceId}');
		
				$.get(resourceURL, function(data){
				
					new A.CustomerContactManagement().openDialog('<liferay-ui:message key="enquiry-closed"/>', '<liferay-ui:message key="enquiry-closed-confirmation-message"/>' , '<liferay-ui:message key="help-with-another-enquiry"/>', '${ resultsBackURL }', '<liferay-ui:message key="return-to-dashboard"/>', '${ dashboardURL }');
		
				});
		
			});
		
		</aui:script>		
	</c:if>
	
	<c:if test="${ isCCMServiceActive && isCSAUser && !isImpersonated && userSearchResult.isActive() && hasCCMServiceForm && hasCCMServiceFormLayout && !isAnonymousCustomer && !userSearchResult.isEmailAutoGenerated() }">
		<aui:a id="sendLinkToFormButton" href="javascript:;" cssClass="btn btn-secondary link-to-form" data-service-id="${ ccmServiceSearchResult.serviceId }" label="send-link-to-form"></aui:a>
		<%@ include file="/partials/send_link_to_form_script.jspf" %>
	</c:if>
	
	<c:if test="${ isCCMServiceActive && isFaceToFaceFacilitator && isFaceToFaceChannel && !isTicketSelected }">
		<aui:a href="${ raiseTicketURL }" cssClass="btn btn-secondary">
			<liferay-ui:message key="issue-ticket"/>
		</aui:a>
	</c:if>
	
</aui:button-row>

