<aui:script use="com-placecube-digitalplace-contactmanagement-search-modal">
	A.GenericModal.initGenericModal({
				selector: '.edit-user-details',
				title: '<liferay-ui:message key="edit-user-details"/>',
				modalId: '<%=AccountConstants.CREATE_EDIT_MODAL_ID%>',
				portletId: '<%=AccountPortletKeys.EDIT_ACCOUNT%>'
			},
			{
				userId: 'user-id',
			},
			{
				mvcRenderCommandName: '<%=MVCCommandKeys.EDIT_DETAILS%>',
				useSession: 'false',
				<%=AccountConnectorConstant.MODEL_ID %>: '<%=AccountConstants.CREATE_EDIT_MODAL_ID%>',
				redirectUrl: '${redirectUrl}'
			}
	);
</aui:script>