<%@ include file="/partials/search_bar.jspf" %>

<div class="mt-5">
	<%@ include file="/partials/add_options.jspf" %>

	<c:set var="hasResults" value="${ not empty searchFacets }" />
	<%@ include file="/partials/search_container.jspf" %>

	<c:if test="${ hasResults }">
		<%@ include file="/partials/edit_user_script.jspf" %>
		<%@ include file="/partials/merge_account_script.jspf" %>
		<%@ include file="/partials/customer/add_relationship_script.jspf" %>
		<%@ include file="/partials/send_self_service_invite_script.jspf" %>
		<%@ include file="/partials/send_link_to_form_script.jspf" %>
		<%@ include file="/partials/enquiry/enquiry_script.jspf" %>
	</c:if>
</div>