<aui:form action="${ sendEmailURL }" name="fm" method="post">
	<c:choose>
		<c:when test="${ not hasErrors }">
			<%@ include file="/partials/email/email_template.jspf" %>
			<aui:button-row cssClass="pull-right">
				<aui:button type="submit" value="send"/>
				<aui:button type="cancel" value="cancel"/>
			</aui:button-row>
		</c:when>
		<c:otherwise>
			<%@ include file="/partials/email/email_template_error.jspf" %>
			<aui:button-row cssClass="pull-right">
				<aui:button type="cancel" value="cancel"/>
			</aui:button-row>
		</c:otherwise>
	</c:choose>
</aui:form>