<c:if test="${ not empty successKey }">
	<c:set var="message"><liferay-ui:message key="${ successKey }"/></c:set>
	<liferay-clay:alert message="${ message }" displayType="success" title="Success" dismissible="true" />
</c:if>