<c:if test="${ isCSAUser }">
	<button id="<portlet:namespace/>transferCall" type="submit" class="btn btn-primary">
		<i class="icon icon-exchange pr-2"></i><span><liferay-ui:message key="transfer-call"/></span>
	</button>
	
	<aui:script use="com-placecube-digitalplace-contactmanagement-search-modal">
		A.GenericModal.initGenericModal({
					selector: '#<portlet:namespace/>transferCall',
					title: '<liferay-ui:message key="transfer-call"/>',
					modalId: '<%=SearchPortletConstants.SEARCH_MODAL_ID%>',
					portletId: '<%=SearchPortletKeys.SEARCH%>'
				},
				{},
				{
					mvcRenderCommandName: '<%=SearchMVCCommandKeys.CALL_TRANSFER%>'
				}
		);
	</aui:script>
</c:if>