<div class="user-addresses-section mt-4" data-qa-id="row">

    <div class="autofit-col autofit-col-expand" data-qa-id="rowItemContent">
		<c:if test="${ previousAddress.isPresent() || otherAddress.isPresent()}">
	        <liferay-ui:panel-container cssClass="addresses-container" extended="true" id="addressesPanelContainer"
	            markupView="lexicon">

	            <liferay-ui:panel cssClass="addresses-accordion field-section mb-4" extended="false" markupView="lexicon"
	                collapsible="true" id="addressesPanel" title="additional-addresses">
					<div class="row">
		                <div class="col-12 col-md-10 col-xl-8">
		                    <div class="d-flex pt-3 pb-3 top-row">
		                        <c:if test="${ previousAddress.isPresent() }">
		                            <div class="address-block pl-4 pr-2">
			                            <c:choose>
			                                <c:when test="${ !previousAddresses.isEmpty() }">
			                                    <button class="btn-unstyled address-block-title-wrapper collapsed"
			                                        data-toggle="collapse" data-target="#user-addresses-previous" aria-expanded="false"
			                                        aria-controls="user-addresses-previous">

													<span class="address-block-title"><liferay-ui:message key="previous-addresses" /></span>
	                                                <i class="address-block-title-icon dp-icon-caret-right"></i>

			                                    </button>
			                                </c:when>
			                                <c:otherwise>
			                                    <div class="address-block-title-wrapper">
			                                        <liferay-ui:message key="previous-address" />
			                                    </div>
			                                </c:otherwise>
			                            </c:choose>
			                            <div class="address-details">
			                                ${previousAddress.get()}
			                            </div>
			                        </div>
			                    </c:if>
			                    <c:if test="${ otherAddress.isPresent() }">
			                        <div class="address-block pl-4 pr-2">
				                        <c:choose>
		                                    <c:when test="${ !otherAddresses.isEmpty() }">
		                                        <button class="btn-unstyled address-block-title-wrapper collapsed"
	                                                type="button"
	                                                data-toggle="collapse" data-target="#user-addresses-other" aria-expanded="false"
	                                                aria-controls="user-addresses-other">

													<span class="address-block-title"><liferay-ui:message key="additional-addresses" /></span>
													<i class="address-block-title-icon dp-icon-caret-right"></i>
	                                            </button>
		                                    </c:when>
		                                    <c:otherwise>
		                                        <div class="address-block-title-wrapper">
		                                            <liferay-ui:message key="additional-addresses" />
		                                        </div>
		                                    </c:otherwise>
		                                </c:choose>
			                            <div class="address-details">
			                                ${otherAddress.get()}
			                            </div>
			                        </div>
			                    </c:if>
		                    </div>
		                </div>
	                </div>
	                <c:if test="${ !previousAddresses.isEmpty() }">
		                <div class="collapse user-addresses-more" id="user-addresses-previous" data-parent="#addressesPanel">
		                    <div class="other-previous-wrapper mt-3">
		                        <div class="d-flex address-line pl-4 pr-4 additional-addresses-header">
		                            <div class="w-70"><liferay-ui:message key="previous-addresses" /></div>
		                            <div class="w-15"><liferay-ui:message key="type" /></div>
		                            <div class="w-15"><liferay-ui:message key="date" /></div>
		                        </div>

		                        <c:forEach var="address" items="${ previousAddresses }">
		                            <div class="d-flex address-line pl-4 pr-4">
		                                <div class="d-inline-flex justify-content-between w-70 address-wrapper">
		                                    ${ address.getFormattedAddress() }
		                                </div>
		                                <div class="w-15">${ address.getType() }</div>
		                                <div class="w-15">${ address.getDate() }</div>
		                            </div>
		                        </c:forEach>
		                    </div>
		                </div>
					</c:if>
					<c:if test="${ !otherAddresses.isEmpty() }">
		                <div class="collapse user-addresses-more" id="user-addresses-other" data-parent="#addressesPanel">
		                    <div class="other-previous-wrapper mt-3">
		                        <div class="d-flex address-line pl-4 pr-4 additional-addresses-header ">
		                            <div class="w-70"><liferay-ui:message key="additional-addresses" /></div>
		                            <div class="w-15"><liferay-ui:message key="type" /></div>
		                            <div class="w-15"><liferay-ui:message key="date" /></div>
		                        </div>
		                        <c:forEach var="address" items="${ otherAddresses }">
		                            <div class="d-flex address-line pl-4 pr-4">
		                                <div class="d-inline-flex justify-content-between w-70 address-wrapper">
		                                    ${ address.getFormattedAddress() }
		                                </div>
		                                <div class="w-15">${ address.getType() }</div>
		                                <div class="w-15">${ address.getDate() }</div>
		                            </div>
		                        </c:forEach>
		                    </div>
		                </div>
	                </c:if>
	            </liferay-ui:panel>
	        </liferay-ui:panel-container>
	    </c:if>
    </div>
</div>