$border-grey-color: #E7E7ED;

.my-notes-container {
	h4 {
		cursor: pointer;
	}

	.my-notes-content {
		cursor: pointer;
		padding: 1rem 0;

		p {
			font-size: 0.875rem;
			line-height: 1.25rem;
			margin-bottom: 0.4rem;
		}
	}

}
.display-my-notes{
	.alloy-editor-container{
		.alloy-editor{
			height: 15rem;
			overflow: auto;
		}
	}
}
.my-notes-modal-content {
	border-radius: 4px;
	box-shadow: none;
}
.loading-animation {
	top: 25%;
}