
<c:if test="${ propertyServiceAlertList.size()>0}">

	<c:forEach items="${propertyServiceAlertList}" var="alertInfo" varStatus="alertRowCount">

		 <div class="daily-service-alert mb-3" >

			<fieldset aria-labelledby="alertIdNo${alertRowCount.count}-alertTitle" class="panel panel-default ccmservice-view-alert-panel" id="alertIdNo${alertRowCount.count}" role="group">

				<div class="panel-heading alert alert-warning" id="alertIdNo${alertRowCount.count}-alertHeader" role="presentation">
					<div class="panel-title" id="alertIdNo${alertRowCount.count}-alertTitle">
						<a aria-controls="alertIdNo${alertRowCount.count}-alertContent" aria-expanded="false" class="collapse-icon collapse-icon-middle collapsed" data-toggle="collapse" href="#alertIdNo${alertRowCount.count}-alertContent" role="button">
							<span>
								<span class="alert-indicator">
									<svg class="lexicon-icon">
										<use xlink:href="${themeDisplay.getPathThemeImages()}/lexicon/icons.svg#warning-full" />
									</svg>
								</span>
								<strong class="lead"><liferay-ui:message key="alert" /> : </strong>
								<span>${alertInfo.getTitle()} </span>
							</span>
								<span class="collapse-icon-closed">
								<svg class="lexicon-icon">
									<use xlink:href="${themeDisplay.getPathThemeImages()}/lexicon/icons.svg#angle-down" />
								</svg>
							</span>
								<span class="collapse-icon-open">
								<svg class="lexicon-icon">
									<use xlink:href="${themeDisplay.getPathThemeImages()}/lexicon/icons.svg#angle-right" />
								</svg>
							</span>
						</a>
					</div>
				</div>

				<div aria-labelledby="alertIdNo${alertRowCount.count}-alertHeader" class="panel-collapse collapse" id="alertIdNo${alertRowCount.count}-alertContent" role="presentation" >
					<div class="panel-body">
						<div class="alert-full-title">
							<strong><liferay-ui:message key="category" /> :</strong> ${alertInfo.getCategory()}
						</div>
						<div class="alert-body">
							${alertInfo.getDescription()}
							<div><strong><liferay-ui:message key="start-date" /> :</strong>${alertInfo.getStartDate()}</div>
							<div><strong><liferay-ui:message key="end-date" /> :</strong>${alertInfo.getEndDate()}</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>

	</c:forEach>

</c:if>