$border-grey-color: #E7E7ED;

.team-notification-container{
	.team-notification-listing{
		padding: 1rem 0;
		
		.team-notification{
			cursor: pointer;
						
			.body, .create-date, .title{
				display: none;
			}
		}
	}
	
}

.display-team-notification{
	margin: 1rem 2rem;
	.team-notification-icon, span.status, .dp-icon-angle-right, .short-title{
		display: none;
	}
	.team-notification{
		.title{
			font-size: 1.2rem;
			font-weight: 500;
		}
	}	
}

.team-notification-modal-content {
	border-radius: 4px;
	box-shadow: none;
}

