<div class = "row pt-4 border-bottom border-light" style="height: 490px">
	<div class="col-12 d-flex flex-col align-items-center">
		<liferay-ui:error key="templateLoadingError" message="template-article-error"/>
	</div>
</div>